@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


#thead{
	color: black;
	font-family: Anton;
}

.table{
	background-color: black;
}

/*------------------------------*/

* {
	text-align: center;
	background-color: #f59884;
}

h1, h2 {
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	background-color: lightblue;
	font-family: Bebas Neue;
	color: darkblue;
	text-decoration: underline;
	font-size: 65px;
}

p {
	padding: 5px;
	border: 3px dashed darkblue;
	margin: 10px;
	font-size: 30px;
	color: #006996;
}

p, table {
	font-family: Titillium Web;
}

/*------------------------------*/


/* HOVER FUNCTIONS */

a img:hover {
  opacity: 0.7;
}

td:hover {
  color: red;
}


/*------------------------------*/

table, tr, th, tbody, td{
	background-color: white;
}

td img {
  display: block;
}

/*------------------------------*/

/* MEDIA QUERIES FOR RESIZING */

/* Default styles (for Desktop PCs) */
@media (min-width: 1025px) {
	h1, h2 {
		font-size: 100px;
	}
	
	p {
		font-size: 35px;
	}
	
	table {
		font-size: 15px;
	}
}

/* Tablets */
@media (max-width: 1024px) {
    h1, h2 {
		font-size: 100px;
	}
	
	p {
		font-size: 40px;
	}
	
	table {
		font-size: 35px;
	}
}

/* Mobile */
@media (max-width: 600px) {
	h1, h2 {
		font-size: 50px;
	}
	
	p {
		font-size: 40px;
	}
	
	table {
		font-size: 10px;
	}
}